#forms
{
    width: 40%;
    border: black solid 2px;
    height: 300px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
}
#quest
{
    width: 40%;
    margin-top: 130px;
    margin-left: 30%;
    margin-right: 30%;
}
#quest label
{
    font-size: 0.5cm;
    margin-left: 25%;
    margin-right: 25%;
}